.card {
	display: flex;
	flex-direction: column;
	justify-items: left;
	justify-content: space-between;
	width: 158px;
	height: 169px;
	text-align: left;
	background-color: white;
	border-radius: 28px;
	box-shadow: 
	0px 16px 24px rgba(0, 0, 0, 0.06), 
	0px 2px 6px rgba(0, 0, 0, 0.04), 
	0px 0px 1px rgba(0, 0, 0, 0.04);
}

.card .savings {
	font-size: 24px;
	font-weight: 600;
	line-height: 29px;
	letter-spacing: 0em;
	margin-left: 25px;
	margin-top: 13px;
	color: var(--gray);
}

.card .date {
	font-size: 14px;
	color: var(--light-gray);
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	margin-left: 25px;
}

.card .text {
	width: 83px;
	height: 25px;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	margin-left: 25px;
	margin-bottom: 13px;

	color: var(--foreground);
}

.card .icon {
	width: 35px;
	height: 35px;
	margin-left: 25px;
}