.goal {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  justify-content: space-between;
  /*align-items: flex-start;*/
  padding: 16px 24px;
  height: 176px;
  width: fit-content;
}

.goalTop {
  position: relative;
  justify-content: flex-start;
  display: flex;
}

.goalAmount {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.goalDate {
  font-size: 10px;
  color: var(--color-gray);
}

.goalName {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  /*  position: relative;
  display: flex;
  justify-content: end;*/
}

.goalTop .goalName {
  /* position: relative; */
  display: flex;
  justify-content: end;
}

.goalEnd {
  display: flex;
  flex-direction: row;
}

.goalIcon {
  width: 30px;
  height: 30px;
  padding: 4px;
  background-color: var(--color-light-gray);
  border-radius: 6px;
  /*align-self: center;*/
}

.addGoal {
  width: 30px;
  height: 30px;
  display: flex;
  align-self: flex-start;
}
