.module-wrapper {
  border-radius: 1rem;
  margin-bottom: 16px;
  padding: 16px;
}

.module-wrapper-header {
  display: flex;
  margin-bottom: 8px;
}

.module-wrapper-header-title {
  font-size: 1.25rem;
  font-weight: 700;
}
